

.footer-wrapper{
    background-color: #484f50;
    &__top{}
    &__bottom{}
}

.footer-wrapper-inner{
    padding: 100px 0 0 0;
}
.footer-wrapper{
    .column{
        
        &__common{
            flex: 0 1 35%;
            @media (max-width: 580px) {
                text-align: center;
                line-height: 3;
            }

        }
        &__common-title{
            color: #f7f7f7;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: 0.8px;
            margin-bottom: 50px;
        }
        &__common-text{
            color: #aaaaaa;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 23px;
            padding-right: 45px;
            @media (max-width: 580px) {
                padding-right: 0px;
            }
        }
        // &__common-brand{}
        // &__navigation{}
        &__location{
            @media (max-width: 580px) {
                margin: 0 0 50px 0;
                text-align: center;
            }
        }
        // &__form{}
    }
}
.menu{
    flex: 0 1 15%;
    &__title{
        color: #f7f7f7;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: 0.8px;
        margin-bottom: 40px;
    }
}
.footer-menu-items__link{
        color: #999999;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
         &:hover{
             color: #a884d4;
             text-decoration: underline;
        } 
    }


.contacts{
    flex: 0 1 15%;
    
    &__title{
        color: #f7f7f7;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        letter-spacing: 0.8px;
        margin-bottom: 40px;
    }
    &__links, span{
        color: #aaaaaa;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 33.6px;
        a:hover{
            color: #a884d4;
            text-decoration: underline;
       } 
    }
}

.form{
    padding: 0 0 0 40px;
    
    flex: 0 1 35%;
    &__title{
        color: #ffffff;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 21.6px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        margin-bottom: 40px;
    }
    &__subscribe{
        input{
            padding: 5px 0 5px 5px;
            max-width: 164px;
            height: 41px;
            background-color: #ebebeb;
            margin-bottom: 70px;
        }
        @media (max-width: 1028px) {
            input{
                display: block;
                padding: 0;
                margin: 0 0 10px 0;
            }
        }
        a{
            flex-wrap: nowrap;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 10px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 15px 21px;
            background-color: #a57ee7;
            border: 1px solid #505050;
            line-height: 4;
            transition: all 0.3s ease 0s; 
            &:hover{
                background-color: #663cad;
            }
        }
    }
    @media (max-width: 1028px) {
        &__subscribe{
            margin-bottom: 10px;
        }
    }
    @media (max-width: 580px) {
        padding: 0 0 0 0px;
    }
    
}

.social-list{
    display: flex;

    li{
        margin-right: 40px;
        a{
            font-size: 24px;
            color: #f7f7f7;
            &:hover{
                color: blanchedalmond;
            }
        }
    }
}

@media (max-width: 580px) {
    .footer-wrapper-inner{
        flex-direction: column;
        margin: 0 0 50px 0;
    }
    .column__common-brand{
        margin: 0 0 50px 0;
    }
    .column__navigation{
        display: none;
    }
    .column__location{
        margin: 0 0 50px;   
    }
    .column__common-title, .contacts__title, .form__title{
        margin-bottom: 0 !important;
    }
    .column__form{
        // padding: 0 0 0 10% !important;

    
    }

    .form__title{
        text-align: center;
        padding: 0 0 10px 0;   
    }

    .form__subscribe{
        display: flex;
        flex-direction: column;
        text-align: center;
        a{
            padding: 0 36px;
            line-height: 3;
            font-size: 14px;
            width: 100%;
            
        }
        input{
            width: 100%;
            // margin: 1px 0 0 0;
            max-width: 100%;
            padding: 0 0 0 10px;
        }
        

        
    }
    .form__social{
        padding: 20px;
    }
}
