.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #e6eaed;;
}

.social-list{
    display: flex;
    flex: 0 0 30%;
    li{
        margin-right: 20px;
        a{
            color: #b9c0c6;
            &:hover{
                color: red;
            }
        }
    }
}

.copyright{
    flex: 1 1 auto;
    text-align: right;
    color: #b9c0c6;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
}