.row{
    display: flex;
    flex-wrap: wrap;
}

.column__img{
    height: 100%;
    flex: 0 0 120px;
    &_content{
        overflow: hidden;
        max-height: 120px;
        width: 100%;
        align-self: flex-start;
        img{
            width: 100%;
            object-fit: contain;
            object-position: center;   
        }
    } 
}
    
.col-33 {
    flex: 0 0 33.33%;
    @media (max-width: 580px) { 
        flex: 0 0 100.00%;
        margin: 0 auto 100px auto;  
    }    
    @media (max-width: 780px) {
        flex: 0 0 50.00%;
        margin-bottom: 50px;
        &:last-child{
            margin: 0 auto;  
        }
    }    
}


.col-33-team {
    flex: 0 0 33.33%;
    @media (max-width: 780px) { 
        flex: 0 0 100.00%;
        margin: 0 auto 100px auto;
        justify-content: center;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }       
    @media (max-width: 580px) {
        margin: 0 auto 50px auto; 
    } 
}
    
.col-50{
    flex: 0 0 50%;  
    @media (max-width: 580px) {
        flex: 0 0 100.00%;
        margin: 0 auto 100px auto;  
    }     
}

.item{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.item__title, .item__title_inner{
        flex: 0 0 26px;
        color: #465065;
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        span{
            color: #f0454c;
        }
        @media (max-width: 580px) {
            font-size: 24px;
            line-height: 33px;
            text-align: center;
        }    

    }

    @media (max-width: 780px) {
        .item__title{
        text-align: center;
        }
    }  



.item__text{
        flex: 1 1 auto;
        color: #9aa0ab;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 29px;
        
    }

.item__btn{
    flex: 0 0 20px;

    a{
        position: relative;
        color: #f0454c;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        padding: 10px 50px 10px 0;
        .fa-long-arrow-right{
            padding: 0 0 0 10px;
        }
    
        &:hover{
            color: black;
        }
    }
}

.align-end{
    text-align: end;
}

.mb-17 {
    margin-bottom: 17px;
}

.mb-104 {
    margin-bottom: 104px;
    @media (max-width: 580px) {
        margin-bottom: 20px;  
    }  
}

.mt-20 {
    margin-top: 20px; 
    @media (max-width: 580px) {
        margin-bottom: 10px;  
    }    
}



.d-flex-center{
    display: flex;
    align-items: center;
}

.d-flex-start{
    display: flex;
    align-items: flex-start;
}

.subtitle{
    margin-bottom: 24px;
}

.subtitle_small{
    color: #314a5b;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
}

.item__image{
    max-width: 398px;
    height: 301px;
    position: relative;
    overflow: hidden;


    img{
        position: absolute;
        object-fit: none;
        object-position: right;
        width: 100%;
        height: 100%;
 
    }
    @media (max-width: 580px) {
        display: none;  
    } 
}

